USE [master]
GO
/****** Object:  Database [TestTodoDb]    Script Date: 10/29/2019 22:03:43 ******/
CREATE DATABASE [TestTodoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestTodoDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TestTodoDb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestTodoDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TestTodoDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestTodoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestTodoDb]
GO
/****** Object:  Table [dbo].[Todo]    Script Date: 10/29/2019 22:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todo](
	[TodoId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[PercentageProgress] [int] NOT NULL,
	[IsDone] [bit] NOT NULL,
 CONSTRAINT [PK_Todo] PRIMARY KEY CLUSTERED 
(
	[TodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TodoDetail]    Script Date: 10/29/2019 22:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TodoDetail](
	[TodoDetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[TodoId] [bigint] NOT NULL,
	[Detail] [nvarchar](500) NOT NULL,
	[IsDone] [bit] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[TodoDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Todo] ON 

INSERT [dbo].[Todo] ([TodoId], [Title], [Detail], [ExpiryDate], [PercentageProgress], [IsDone]) VALUES (1, N'Test Todo', N'Test Todo Detail', CAST(N'2019-10-31 00:00:00.000' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Todo] OFF
USE [master]
GO
